.error-content {
    background-color: #f5f5f5;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .error-content img {
    max-width: 200px;
  }

  .error-content h1 {
    font-size: 7rem;
    color: #868e96;
  }

  .error-content h2 {
    font-size: 2rem;
    color: #6c757d;
  }