<div class="basic-container">
  <div class="d-flex align-items-center text-center h-100">
      <div class="w-100">
        <div class="error-content">
          <img src="../../assets/error.png" alt="Error 404" class="img-fluid mb-4">
          <h1 class="display-1 font-weight-bold mb-0">404</h1>
          <h2 class="h4 font-weight-light mb-5">Página no encontrada</h2>
          <p class="lead">Lo sentimos, la página que está buscando no se pudo encontrar.</p>
          
        </div>
      </div>
    </div>
  </div>