.cover {
    background-image: url(https://picsum.photos/1600/900);
    background-position: center;
    background-size: cover;
    height: 300px;
  }

  .profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    border: 5px solid #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .profile-info h3 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    color: #333;
  }

  .profile-info p {
    font-size: 14px;
    text-align: center;
    color: #333;
  }

  .social-icons a {
    font-size: 20px;
    margin-right: 10px;
    color: #333;
  }

  .social-icons a:hover {
    color: #444;
  }

  .btn-edit {
    background-color: #333;
    border-color: #333;
    color: #fff;
    border-radius: 0;
    font-size: 14px;
    margin-top: 20px;
    width: 100%;
  }

  .btn-edit:hover {
    background-color: #444;
    border-color: #444;
  }