<div class="blog-container">
  <header class="header">
    <div class="container">
      <h1 class="header-title">Blog de Ballenas</h1>
    </div>
  </header>

  <div class="container mt-5">
    <h2 class="section-title">Avistamientos Recientes</h2>
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="../../assets/ballena-jorobada.jpg"  alt="Ballena Jorobada">
        <div class="card-body">
          <h5 class="card-title">Ballena Jorobada</h5>
          <p class="card-text">Avistamiento en la costa de California, Estados Unidos.</p>
        </div>
        <div class="card-footer">
          <a href="https://cnnespanol.cnn.com/video/ballenas-jorobadas-avistamiento-pacifico-colombiano-pkg-wilson-barco/#:~:text=Entre%20junio%20y%20septiembre%20de,disfrutan%20expertos%20marinos%20y%20turistas." target="_blank" class="btn btn-primary">Leer más</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../assets/beluga.png"  alt="Ballena Beluga">
        <div class="card-body">
          <h5 class="card-title">Ballena Beluga</h5>
          <p class="card-text">Avistamiento en la costa de Quebec, Canadá.</p>
        </div>
        <div class="card-footer">
          <a href="https://www.nationalgeographic.es/animales/ballena-beluga" target="_blank" class="btn btn-primary">Leer más</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../assets/azul.jpg" alt="Ballena Azul">
        <div class="card-body">
            <h5 class="card-title">Ballena Azul</h5>
            <p class="card-text">Avistamiento en el Océano Atlántico.</p>
          </div>
          <div class="card-footer">
            <a href="https://viajes.nationalgeographic.com.es/a/diez-mejores-lugares-mundo-para-avistar-ballenas_9343" target="_blank" class="btn btn-primary">Leer más</a>
          </div>
        </div>
      </div>
    </div>
</div>

