<div class="home-container">
  <div class="container my-5">
    <h1 class="text-center">Bienvenido a mi aplicación Angular con Bootstrap</h1>
    <p class="lead text-center">Este es un ejemplo de página de inicio construida con Angular y Bootstrap</p>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <img class="card-img-top" src="../../assets/b1.jpg">
            <h4 class="card-title">Ballenas</h4>
            <p class="card-text">Hablar sobre ballenas es importante porque son uno de los animales más grandes y fascinantes de nuestro planeta. Además, las ballenas tienen un papel crucial en el equilibrio ecológico y en la regulación del clima. También son un recurso valioso para la investigación científica y una atracción turística en muchas partes del mundo. Conocer más sobre estos animales nos ayuda a comprender su importancia y a tomar medidas para protegerlos.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <img class="card-img-top" src="../../assets/b2.jpg">
            <h4 class="card-title">Mas ballenas</h4>
            <p class="card-text">¿Por qué hablar sobre ballenas? Porque son los reyes y reinas del océano, los gigantes mágicos que nadan en las profundidades del mar. Con sus cantos hipnotizantes y sus saltos acrobáticos, las ballenas nos dejan boquiabiertos y nos hacen imaginar un mundo lleno de aventuras y misterios. Además, son expertas en mantener el equilibrio ecológico y en controlar el clima, convirtiéndose en verdaderos héroes de la naturaleza. ¡No podemos ignorarlas! Conocer más sobre ellas es un viaje hacia el descubrimiento y la protección de estas maravillas acuáticas.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <img class="card-img-top" src="../../assets/b3.jpg">
            <h4 class="card-title">Muchas mas ballenas</h4>
            <p class="card-text">Hablar sobre ballenas es un viaje a través de la fascinación y la curiosidad. Son seres misteriosos y románticos que nadan en las profundidades del océano, llenando el mar de su belleza y armonía. Con sus cantos melodiosos y sus saltos elegantes, las ballenas nos enamoran y nos invitan a imaginar un mundo lleno de amor y pasión. Además, son expertas en mantener el equilibrio ecológico y en controlar el clima, convirtiéndose en verdaderos amantes de la naturaleza. No podemos resistirnos a conocer más sobre ellas. Descubrir más sobre las ballenas es un viaje hacia la emoción y la protección de estos seres maravillosos.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  
